@import "../../global.scss";

.resume{
    background-color: $mainColor;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include mobile{
        justify-content: space-around;
    }

    h1{
        font-size: 50px;

        @include mobile{
            font-size: 20px;
        }
    }
}