@import "../../global.scss";


li{
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;

    @include mobile{
        margin-right: 20px;
    }



    &.active{
        background-color: #3500d3;
        color: $mainColor;
        font-weight: 900;
    }
}