@import "../../global.scss";


.intro{
    background-color: $secondColor;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0px 25px;
    background-image: url('../../svg/wave-haikei-layer1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include mobile{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .left{
        flex: 0.5;
        overflow: hidden;
        width: 40vw;
        height: 100vh;
        padding-top: 20px;

        @include mobile{
            width: 100vw;
            height: 40vh;
            
            padding-right: 50px;
            padding-top: 20px;
        }

        .imgContainer{
            width: 35vw;
            height: 90vh;
            //background-color: $secondColor;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            //float: right;

            @include mobile{
                align-items: flex-start;
                width: 90vw;
                height: 40vh;
                padding-top: 70px;
                padding-left: 20px;
                
            }

            img{
                width: 100%;
                object-fit: fill;
                z-index: 1;
                
                @include mobile{
                    height: 100%;
                }
            }
        }
    }

    .right{
        width: 50vw;
        height: 100vh;
        flex: 0.5;
        position: relative;
        color: $textColor;
        padding-top: 40px;

        @include mobile {
            width: 100vw;
            height: 50vh;
            // padding-right: 50px;
            // padding-top: 20px;
            // padding-left: 50px;
            align-items: center;
            overflow: hidden;
        }

        .wrapper{
            width: 80%;
            height: 80%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;


            @include mobile{
                padding-left: 0;
                align-items: center;
            }

            h1{
                font-size: 60px;
                margin: 10px 0;

                @include mobile{
                    font-size: 30px;
                }
            }

            h2{
                font-size: 35px;

                @include mobile{
                    font-size: 20px;
                }

                span{
                    font-size: inherit;
                    color: crimson;
                    
                }
            }

            h3{
                font-size: 30px;


                @include mobile{
                    font-size: 20px;
                }

                span{
                    font-size: inherit;
                    color: crimson;
                    
                    

                }

                .ityped-cursor{
                    animation: blink 1.5s infinite;
                }
            
            @keyframes blink {
                50%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                }        
            }
          }
        }
        a {
            position: absolute;
            bottom: 10px;
            left: 40%;


            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
}